{% set body_class = "article" %}
{% set page_title = site_title %}
{% extends "_layout.njk" %}
{% import "macros/reading-time.njk" as reading %}

{% block content %}
  <main>
    <article>
      {# MathJax imports #}
      <script>
        MathJax = {
          chtml: {
            scale: 1, // global scaling factor for all expressions
            minScale: 1, // smallest scaling factor to use
          }
        };
      </script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
      <header>
        <h1>{{ title }}</h1>
        {% include "components/_post-info.njk" %}
      </header>
      <section>
        {{ contents | safe }}
      </section>
      {% include "components/micropub/_webmentions.njk" %}
      {% include "components/micropub/_reposts.njk" %}
      {% include "components/micropub/_likes.njk" %}
      {% include "components/micropub/_replies.njk" %}
      {% asyncEach url in libraries %}
      <script src="{{ url }}" ></script>
      {% endeach %}
    </article>
  </main>
{% endblock %}