// Source: https://www.essycode.com/posts/using-css-create-svg-icons/

// Characters to encode.
$encodings: (("<", "%3C"), (">", "%3E"), ("#", "%23"), ('"', "%22"));
// Replaces $search in $string with $replace.
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}
// Returns background-image property value for icon.
@function get-icon($content, $viewBox) {
  $svg: '<svg viewBox="' + $viewBox + '" xmlns="http://www.w3.org/2000/svg">' +
    $content + "</svg>";
  @each $char, $encoded in $encodings {
    $svg: str-replace($svg, $char, $encoded);
  }
  @return url("data:image/svg+xml;charset=utf-8," + $svg);
}

@function get-icon-twitter($fill) {
  $content: '<path fill="#{$fill}" d="M221.95,51.29c0.15,2.17,0.15,4.34,0.15,6.53c0,66.73-50.8,143.69-143.69,143.69v-0.04 C50.97,201.51,24.1,193.65,1,178.83c3.99,0.48,8,0.72,12.02,0.73c22.74,0.02,44.83-7.61,62.72-21.66   c-21.61-0.41-40.56-14.5-47.18-35.07c7.57,1.46,15.37,1.16,22.8-0.87C27.8,117.2,10.85,96.5,10.85,72.46c0-0.22,0-0.43,0-0.64   c7.02,3.91,14.88,6.08,22.92,6.32C11.58,63.31,4.74,33.79,18.14,10.71c25.64,31.55,63.47,50.73,104.08,52.76   c-4.07-17.54,1.49-35.92,14.61-48.25c20.34-19.12,52.33-18.14,71.45,2.19c11.31-2.23,22.15-6.38,32.07-12.26   c-3.77,11.69-11.66,21.62-22.2,27.93c10.01-1.18,19.79-3.86,29-7.95C240.37,35.29,231.83,44.14,221.95,51.29z"/>';
  @return get-icon($content, "0 -15.5 248 232.5");
}

@function get-icon-mastodon($fill, $background) {
  $content: '<path fill="#{$fill}" d="M211.80734 139.0875c-3.18125 16.36625-28.4925 34.2775-57.5625 37.74875-15.15875 1.80875-30.08375 3.47125-45.99875 2.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125 0 2.53375.15625 4.94625.46875 7.2025 3.38375 25.68625 25.47 27.225 46.39125 27.9425 21.11625.7225 39.91875-5.20625 39.91875-5.20625l.8675 19.09s-14.77 7.93125-41.08125 9.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234 213.82 1.40609 165.31125.20859 116.09125c-.365-14.61375-.14-28.39375-.14-39.91875 0-50.33 32.97625-65.0825 32.97625-65.0825C49.67234 3.45375 78.20359.2425 107.86484 0h.72875c29.66125.2425 58.21125 3.45375 74.8375 11.09 0 0 32.975 14.7525 32.975 65.0825 0 0 .41375 37.13375-4.59875 62.915"/><path fill="#{$background}" d="M177.50984 80.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025 0-17.4175 7.5075-17.4175 22.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375 0-15.74 6.32875-15.74 18.7975v59.15H38.90484V80.077c0-12.455 3.17125-22.3525 9.54125-29.675 6.56875-7.3225 15.17125-11.07625 25.85-11.07625 12.355 0 21.71125 4.74875 27.8975 14.2475l6.01375 10.08125 6.015-10.08125c6.185-9.49875 15.54125-14.2475 27.8975-14.2475 10.6775 0 19.28 3.75375 25.85 11.07625 6.36875 7.3225 9.54 17.22 9.54 29.675"/>';
  @return get-icon($content, "0 0 216.4144 232.00976");
}

@function get-icon-reply($fill) {
  $content: '<path fill="#{$fill}" d="M315,70h-75V15c0-8.284-6.716-15-15-15H15C6.716,0,0,6.716,0,15v176.333c0,8.284,6.716,15,15,15h21V245 c0,5.593,3.112,10.722,8.073,13.305C46.252,259.44,48.63,260,50.999,260c3.023,0,6.034-0.913,8.603-2.711L90,236.01v25.324 c0,8.284,6.716,15,15,15h92.605l72.793,50.955c2.569,1.798,5.579,2.711,8.603,2.711c2.369,0,4.747-0.56,6.926-1.695 C290.888,325.722,294,320.593,294,315v-38.667h21c8.284,0,15-6.716,15-15V85C330,76.716,323.284,70,315,70z M66,216.19v-24.856 c0-8.284-6.716-15-15-15H30V30h180v40H105c-8.284,0-15,6.716-15,15v114.39L66,216.19z M300,246.333h-21c-8.284,0-15,6.716-15,15 v24.856l-53.064-37.145c-2.521-1.765-5.524-2.711-8.602-2.711H120V100h180V246.333z"/>';
  @return get-icon($content, "0 0 330 330");
}

@function get-icon-repost($fill) {
  $content: '<path stroke="#{$fill}" d="M13 18L6 18L6 7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/><path stroke="#{$fill}" d="M3 9L6 6L9 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/><path stroke="#{$fill}" d="M11 6L18 6L18 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/><path stroke="#{$fill}" d="M21 15L18 18L15 15" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"/>';
  @return get-icon($content, "0 0 24 24");
}

@function get-icon-like($fill) {
  $content: '<path fill="#{$fill}" d="M471.563,173.778l-145.5-20.8l-64.4-132c-8-15.4-30-12.2-35.3,0l-64.4,132l-145.6,20.8c-16.4,1-21.6,20.9-10.4,33.2 l105,102.9l-25,144.5c-2.9,17.8,16.7,27.8,28.1,20.8l129.9-68.6l129.9,67.6c13.6,7,29.8-2.8,28.1-19.7l-25-144.6l105-102.9 C494.663,193.478,485.563,175.478,471.563,173.778z M342.663,288.078c-4.2,5.2-6.2,11.4-5.2,17.7l19.7,116.4l-103.9-55.1 c-6.7-2.8-13-2.8-18.7,0l-103.9,55.1l19.7-116.4c1-7.3-1-13.5-5.2-17.7l-84.1-82.1l116.4-16.6c6.2-1,11.4-4.2,14.6-10.4l52-105 l52,105c3.1,5.2,8.3,9.4,14.6,10.4l116.2,16.6L342.663,288.078z"/>';
  @return get-icon($content, "0 0 488.022 488.022");
}
